
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta title="Realtime Chatroom"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/content/chat.css"/>
    <link rel="stylesheet" href="/content/brands.css"/>
    <link rel="stylesheet" href="/content/fontawesome.css"/>
  </head>
  <body>
    <main>
      <section class="chat">
        <div class="chatbox"></div>
        <div class="messagebox">
          <textarea id="textcontent" placeholder="say something to everyone"></textarea>
          <button id="send"><i class="fab fa-telegram"></i></button>
        </div>
      </section>
      <section class="chatcontrol"></section>
    </main>
    <script src="/script/chat.js"></script>
  </body>
</html>