html
    head
        meta(charset='UTF-8')
        meta(title='Realtime Chatroom')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/content/chat.css")
        link(rel="stylesheet" href="/content/brands.css")
        link(rel="stylesheet" href="/content/solid.css")
        link(rel="stylesheet" href="/content/fontawesome.css")
    body
        main
            section.chat
                .chatbox
                .messagebox
                    textarea#textcontent(placeholder="say something to everyone" disabled)
                    button#send
                        i.fab.fa-telegram
            section.chatcontrol
                .mobile
                    .greeting
                        | Hello,&nbsp;
                        span#clientName Unknown
                    .action
                        button#about-demo
                            a(href="/about/")
                                i.fas.fa-question
                        button#leave-session
                            i.fas.fa-sign-out-alt
        script(src="/script/chat.js")